h1 {
  font-family: 'Arvo', serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Arvo', serif;
  font-weight: 400;
}

a {
  font-family: 'Arvo', serif;
  font-weight: 400;
}

a.btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

footer {
  font-family: 'Arvo', serif;
  font-weight: 400;
}
