@media (max-width: 768px) {
  .logo,
  .main-nav,
  .main-nav li {
    display: block;
    width: initial;
    margin: initial;
  }

  .logo {
    margin-bottom: 10px;
  }

  .main-nav li {
    margin-bottom: 10px;
  }

  section.hero {
    background-image: none;
  }

  .btn {
    display: block;
    max-width: 25%;
    margin: 10px auto;
  }
}