.sitenav-listitem:last-child{
  border-bottom: 1px solid #FFFFFF;
}
.sitenav-listitem{
  border-top: 1px solid #FFFFFF;
  cursor: pointer;
}

section.hero {
	background-image: url(../hero-pic.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
